[package]
name = "agent"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5.4", features = ["cargo"] }
reqwest = { version = "0.12.4", features = ["default-tls", "native-tls", "rustls-tls"] }
tokio = { version = "1.38.0", features = ["full"] }
